* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
  }

  p {
    
   text-transform: uppercase;
   font-family: 'Cinzel', serif;
   font-weight: bold;
  }

  h1 {
       text-transform: uppercase;
   font-family: 'Cinzel', serif;
   font-weight: bold;
  }

  header {
    width: 100vw;
    height: 10vh;
    background-color: rgb(3, 3, 3);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(./imageAC2/logoAC.png);
    background-size: 55px 50px;
    background-repeat: no-repeat;
    margin: 10px 0px 10px 30px;
  }

  #navbar {
    width: 90%;
    height: 100%;
    background-color: rgb(3, 3, 3);
    padding-top: 25px;
   
  }

  ul {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    color:rgb(3, 3, 3) ;
  }

  

  #navbar li a {
     text-decoration: none;
     text-transform: uppercase;
     font-family: 'Cinzel', serif;
     font-weight: bold;
     color: azure;
     font-size: 20px;  
  }

  #presentation {
    width: 100vw;
    height: 90vh;
    background-image: url(./imageAC2/background\ animus\ AC2.jpg);
    background-size: cover;
  }

  .titre {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;

  }

  .titre img {
    width:80vw;
    height:30vh;

  }

  .texte {
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
  }

  .texte p {
    font-size: 20px;
    margin: 10px 40px 0px 40px;
    
  }

  .barrevide{
    width: 100vw;
    height: 1vh;
    background-color: rgb(162, 4, 4);
  }

  #univers {
    width: 100vw;
    height: 100vh;
    background-image: url(./imageAC2/background\ animus\ AC2.jpg);
    background-size: cover;
     
  }

  #univers h1 {
    margin: 0px 0px 0px 40px;
  }

  #univers p {
    margin: 5px 20px 0px 40px;
    font-size: 20px;
  }

  .titremauvaisperso {
    width: 100vw;
    height: 6vh;
    background-color: rgb(162, 4, 4);
    display: flex;
    justify-content: center;
  }

  .titremauvaisperso h1 {
    color:white ;
  }

  
  .titrebonperso {
    width: 100vw;
    height: 6vh;
    background-color: rgb(162, 4, 4);
    display: flex;
    justify-content: center;
  }

  .titrebonperso h1 {
    color:white ;
  }


  
  .content {
    width: 100%;
    height: 100vh;
    background-image: url(./imageAC2/background\ animus\ AC2.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  
  .menu {
    display: flex;
    align-items: center;
    width: 20%;
    margin: 10px 0px 10px 20px;
  }
  
  
  .perso {
    width: 20%;
    width: 380px;
    height: 60px;
    background-color: #334e6073;
    display: flex;
    align-items: center;
    color: white;
    border: 2px solid rgb(96, 96, 96);
    transition: 0.2s;
    cursor: pointer;
  }
  
  .perso:hover {
    border: 2px solid white;
    box-shadow: 0px 0px 10px white, inset 0px 0px 10px white;
  }
  
  
  .perso .left {
    width: 90px;
    height: 100%;
    background-color: #0d1925;
  }

  .texte-image {
    width: 300px;
    height: 470px;
    position: absolute;
    background-color: white;
    margin-left: 200px;
    margin-right: -300px;
    border-radius: 20px;  
  }


  .perso-bg .texte-image {
    display: none;
  }
  
  .active .perso-bg .texte-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menu:nth-child(1) .perso .left {
    width: 90px;
    height: 100%;
    background-image: url(./imageAC2/Ezio\ image.png);
    background-size: cover;
  }
  
  .menu:nth-child(2) .perso .left {
    width: 90px;
    height: 100%;
    background-image: url(./imageAC2/Mario\ auditore\ image.png);
    background-size: cover;
  }
  
  .menu:nth-child(3) .perso .left {
    width: 90px;
    height: 100%;
    background-image: url(./imageAC2/Leonard\ de\ Vinci\ image.png);
    background-size: cover;
  }
  
  .menu:nth-child(4) .perso .left {
    width: 90px;
    height: 100%;
    background-image: url(./imageAC2/Nicolo\ machiaveli\ image.png);
    background-size: cover;
  }
  
  .menu:nth-child(5) .perso .left {
    width: 90px;
    height: 100%;
    background-image: url(./imageAC2/DesmondMilesImage.png);
    background-size: cover;
  }
  
  .menu:nth-child(6) .perso .left {
    width: 90px;
    height: 100%;
    background-image: url(./imageAC2/Lucy\ StillmanImage.png);
    background-size: cover;
  }
  
  .menu:nth-child(7) .perso .left {
    width: 90px;
    height: 100%;
    background-image: url(./imageAC2/Rebecca\ crain\ image.png);
    background-size: cover;
  }

  .menu:nth-child(8) .perso .left {
    width: 90px;
    height: 100%;
    background-image: url(./imageAC2/Shauwn\ Astings\ image.png);
    background-size: cover;
  }

  .menu:nth-child(9) .perso .left {
    width: 90px;
    height: 100%;
    background-image: url(./imageAC2/Minerve\ image.png);
    background-size: cover;
  }
  
  
  .perso .right h1 {
    font-size: 1.5em;
    font-weight: 500;
    margin-left: 20px;
    text-transform: uppercase;
      font-family: 'Cinzel', serif;
      font-weight: bold;
      margin-bottom: -10px;
  }
  
  .perso-bg {
   width: 60%;
   height: 100%;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 0;
   left: 20%;
  
  }
  
  .perso-bg img {
   display: none;
   
   }
  
  .active .perso-bg img {
    display: flex;
  }
  
  .texte-image {
    width: 300px;
    height: 400px;
    background-color: white;
    margin-left: 200px;
    margin-right: -300px;
    border-radius: 20px; 
  }
  
  #menu2:nth-child(1) .perso .left {
    width: 90px;
    height: 100%;
    background-image: url(./imageAC2/Rodrigo\ Borgia\ image.png);
    background-size: cover;
  }
  #menu2:nth-child(2) .perso .left {
    width: 90px;
    height: 100%;
    background-image: url(./imageAC2/Uberto\ alberti\ image.png);
    background-size: cover;
  }
  #menu2:nth-child(3) .perso .left {
    width: 90px;
    height: 100%;
    background-image: url(./imageAC2/Cesare\ borgia\ image.png);
    background-size: cover;
  }

  @media screen and (max-width: 767px){


    .logo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-image: url(./imageAC/logoAC.png);
      background-size: 48px 40px;
      background-repeat: no-repeat;
      
    }
  
    #navbar {
      width: 90%;
      height: 100%;
      background-color: rgb(3, 3, 3);
      
    }
  
    ul {
      text-decoration: none;
      display: flex;
      justify-content: space-around;
      align-items:baseline;
      color:rgb(3, 3, 3) ;
      margin-bottom: 40px;
  
    }
  
    #navbar li a {
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'Cinzel', serif;
      font-weight: bold;
      color: azure;
      font-size: 10px;  
   }
  
  
   .titre {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
  
  }
  
  .titre img {
    padding-top: 20px;
    width:65vw;
    height:20vh;
  
  }
  
  .texte p {
    font-size: 20px;
    margin: 10px 40px 0px 40px;
  }
  
  #univers h1 {
    margin: 0px 0px 0px 40px;
  }
  
  #univers p {
    margin: 5px 20px 0px 40px;
    font-size: 12px;
  }
  
  #univers {
    width: 100vw;
    height: 100vh;
    background-image: url(./imageAC/bacgroundAC1.png);
    background-size: cover; 
  }
  
  .content {
    width: 100%;
    height: 83vh;
    background-image: url(./imageAC/bacgroundAC1.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  
  .menu {
    display: flex;
    align-items: center;
    width: 10%;
    height: 40px;
    margin: 10px 0px 10px 20px;
  }
  
  .perso .left {
    width: 40px;
    height: 100%;
    background-color: #0d1925;
  }
  
  .perso .right h1 {
    font-size: 0em;
    font-weight: 0;
    margin-left: 0px;
    text-transform: uppercase;
      font-family: 'Cinzel', serif;
      font-weight: bold;
      margin-bottom: 0px;
  }
  
  .perso-bg {
    width: 60%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 10%;
   
   }
  
  .perso-bg img {
    display: none;
    width: 150px;
    height: 300px;
    
    }
  
    .menu:nth-child(1) .perso .left {
      width: 60px;
      height: 100%;
      background-image: url(./imageAC2/Ezio\ image.png);
      background-size: cover;
    }
    
    
    .menu:nth-child(2) .perso .left {
      width: 60px;
      height: 100%;
      background-image: url(./imageAC2/Mario\ auditore\ image.png);
      background-size: cover;
    }
    
    
    .menu:nth-child(3) .perso .left {
      width: 60px;
      height: 100%;
      background-image: url(./imageAC2/Leonard\ de\ Vinci\ image.png);
      background-size: cover;
    }
    
    .menu:nth-child(4) .perso .left {
      width: 60px;
      height: 100%;
      background-image: url(./imageAC/AC1Images/DesmondMilesImage.png);
      background-size: cover;
    }
    
    .menu:nth-child(5) .perso .left {
      width: 60px;
      height: 100%;
      background-image: url(./imageAC/AC1Images/Lucy\ StillmanImage.png);
      background-size: cover;
    }
    
    .menu:nth-child(6) .perso .left {
      width: 60px;
      height: 100%;
      background-image: url(./imageAC/AC1Images/WarrenVidicImage.png);
      background-size: cover;
    }
  
    .texte-image h1 {
      margin: 10px 0px 0px 1px;
      font-size: 18px;
    }
    
    .texte-image p {
      margin: 5px 0px 0px 1px;
      font-size: 12px;
    }
  
    .texte-image {
      width: 170px;
      height: 300px;
      position: absolute;
      background-color: white;
      margin-left: 300px;
      margin-right: 0px;
      border-radius: 20px;
      
      
    }
  
    #menu2:nth-child(1) .perso .left {
      width: 60px;
      height: 100%;
      background-image: url(./imageAC/AC1Images/Tamirimage.png);
      background-size: cover;
    }
    #menu2:nth-child(2) .perso .left {
      width: 60px;
      height: 100%;
      background-image: url(./imageAC/AC1Images/Garnier\ de\ naplouse\ image.png);
      background-size: cover;
    }
    #menu2:nth-child(3) .perso .left {
      width: 60px;
      height: 100%;
      background-image: url(./imageAC/AC1Images/Talal\ Image.png);
      background-size: cover;
    }
    #menu2:nth-child(4) .perso .left {
      width: 60px;
      height: 100%;
      background-image: url(./imageAC/AC1Images/Abul\ Nuqoud\ image.png);
      background-size: cover;
    }
    #menu2:nth-child(5) .perso .left {
      width: 60px;
      height: 100%;
      background-image: url(./imageAC/AC1Images/Guillaume\ de\ Monferrat\ image.png);
      background-size: cover;
    }
    #menu2:nth-child(6) .perso .left {
      width: 60px;
      height: 100%;
      background-image: url(./imageAC/AC1Images/Majd\ addin\ image.png);
      background-size: cover;
    }
    #menu2:nth-child(7) .perso .left {
      width: 60px;
      height: 100%;
      background-image: url(./imageAC/AC1Images/Sibrand\ image.png);
      background-size: cover;
    }
    #menu2:nth-child(8) .perso .left {
      width: 60px;
      height: 100%;
      background-image: url(./imageAC/AC1Images/Jubair\ al\ akim\ image.png);
      background-size: cover;
    }
    #menu2:nth-child(9) .perso .left {
      width: 60px;
      height: 100%;
      background-image: url(./imageAC/AC1Images/Robert\ de\ sablet.png);
      background-size: cover;
    }
  }

  